<h1 class="text-center mt-4">List Of All users</h1>
<% @user.each do |user| %>
  <p>User: <%= link_to user.username, user %></p>
  <p>Public Key: <%= user.public_key %></p>
  <% if logged_in? && current_user.admin? %>
    <p><%= link_to "Delete", users_path(user), method: :delete, data: { confirm: "Are you sure you want to delete the user " } %></p>
  <% end %>
  <p>---------------------------------------</p>
<% end %>






















